@*
 * By: voidotexe
 * https://www.github.com/voidotexe
*@

@model VideoViewModel

@{
    ViewData["Title"] = "Video";
}

<div class="card">
    @if (Model.IsFavorite)
    {
        <img id="star" src="~/img/starOn.png" width="30" height="30" />
    }
    else
    {
        <img id="star" src="~/img/starOff.png" width="30" height="30" />
    }
    <div class="card-body">
        <img src="@Model.VideoImage"/>
        <a href="@Model.Link" target="_blank">
            <h4 class="card-title">@Model.Title</h4>
        </a>
        <p class="card-text">Idioma: @Model.VideoLanguage | Dificuldade: @Model.Difficulty</p>
        <p class="card-text">Criação: @Model.CreatedBy em @Model.CreatedAt</p>
        <div>
            @Model.TranscriptionContent
        </div>
        <br>
        <div>
            @Model.SubtitleContent
        </div>
    </div>
</div>

<script src="~/js/favoriteVideo.js"></script>

<script>
    var favoriteVideoJson = { VideoId: @Model.VideoId, UserId: "aec17143-9289-47f1-99aa-f05d7d5769f7" };
</script>
