@*
 * By: voidotexe
 * https://www.github.com/voidotexe
*@

@model VideoViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Video";

    var currentUserId = userManager.GetUserId(User);
}

<div class="card">
    @if (Model.IsFavorite == "true")
    {
        <img id="star" src="~/img/starOn.png" width="30" height="30" />
    }
    else if (Model.IsFavorite == "false")
    {
        <img id="star" src="~/img/starOff.png" width="30" height="30" />
    }
    <div class="card-body">
        <iframe width="700" height="400" src="@Model.YoutubeEmbed"></iframe>
        <a href="@Model.Link" target="_blank">
            <h4 class="card-title">@Model.Title</h4>
        </a>
        <i class="fa-solid fa-globe"></i> @Model.VideoLanguage
        <br />
        <i class="fa-solid fa-brain"></i> @Model.Difficulty
        <br />
        <i class="fa-solid fa-user"></i> @Model.CreatedBy
        <br />
        <i class="fa-solid fa-clock"></i> @Model.CreatedAt
        <br /><br />
        <div>
            @Model.TranscriptionContent
        </div>
        <br>
        <div>
            @Model.SubtitleContent
        </div>
    </div>
</div>

<script>
    var favoriteVideoJson = { VideoId: @Model.VideoId, UserId: "@currentUserId" };
</script>

<script src="~/js/favoriteVideo.js"></script>
