@*
 * By: voidotexe
 * https://www.github.com/voidotexe
*@

@model IEnumerable<VideoViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var m in Model)
{
    var link = m.Link.Replace("https://www.youtube.com/watch?v=", "");
    <div class="card">
        <div class="card-body">
            <img src="@m.VideoImage"/>
            <a asp-action="Index" asp-controller="Video" asp-route-link="@link">
                <h4 class="card-title">@m.Title</h4>
            </a>
            <p class="card-text">Idioma: @m.VideoLanguage | Dificuldade: @m.Difficulty</p>
            <p class="card-text">Criação: @m.CreatedBy em @m.CreatedAt</p>
        </div>
    </div>
    <br>
}
